@import 'views/users/users';
@import 'views/profiles/profiles';

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

@col-blue: rgba(59, 179, 210, 1);
@col-peach: rgba(218, 147, 117, 1);
@col-rust: #9d371c;
@col-gray: #48506a;
@col-altblue: rgba(27, 67, 158, 1);

@font-style: 'Open Sans', helvetica, sans-serif;

body {
  //background-color: @col-blue;
  font-family: @font-style;
  .navbar {}
  .btn-danger {
    background-color: #9d371c;
    border: none;
  }
}

#logoutButton{
	height: 3em;
	margin-right: -15px;
}
