//#profile-padding
.container#profile-show
  .row
    .col-xs-6
      p: a(ng-src='prev()'): i.fa.fa-caret-left &nbsp; PREVIOUS
    .col-xs-6
      p.right-btn-float: a(ng-src='next()') NEXT &nbsp;
        span: i.fa.fa-caret-right
  .row
    .col-xs-12.col-sm-8.col-md-6.col-md-push-4
      h1.showName {{student.firstName}} {{student.lastName}}
      .col-xs-12.col-sm-6
        h5 Skills
        ul
          li(ng-repeat="skill in student.skills") {{skill}}
      .col-xs-12.col-sm-6
        h5 Exposure
        span(ng-repeat="exposure in student.exposure")
          span {{exposure}}
          span(ng-if='!($last)') |
    .hidden-xs.col-sm-2.col-md-4.col-md-pull-6
      img(src='{{student.photo}}')
    .col-xs-12.col-md-2
      .controlPanel(ng-if='activeUser.role===10')
        h5 Control Panel
        button.btn.btn-warning(ng-click='deleteStudent(student)') Delete
        button.btn.btn-info(ng-click='editStudent(student)') Edit
  .row
    .col-xs-12.col-md-5.col-md-push-4
      p &nbsp;
      h5.bio {{student.bio}}
    .col-xs-12.col-md-4.col-md-pull-5
      h5 Location Pereferences
      p Location: {{student.location}}
      p(ng-show="{{student.relocate}}"): i.fa.fa-check &nbsp; Willing to relocate
      p(ng-show="{{student.remote}}"): i.fa.fa-check &nbsp; Willing to work remotely
      h5 Open to opportunities in:
      p(ng-repeat="location in student.locationPref"): {{location}}
    .col-xs-12.col-md-3
      h5 Interests
      p(ng-repeat="interest in student.interests") {{interest}}
  .row
    .col-xs-12.col-md-8.col-md-push-4
      h5 Education
      p(ng-repeat="edu in student.education") {{edu}}
    .col-xs-12.col-md-4.col-md-pull-8
      h5 Contact Information
      p
        i.fa.fa-envelope: a(mailto="{{contat.contact.email}}") &nbsp; email
      p
        i.fa.fa-phone: a(href="tel:{{student.contact.phone}}") &nbsp; {{student.contact.phone}}
      p
        i.fa.fa-envelope-o &nbsp; {{student.contact.address}}
      p
        i.fa.fa-linkedin: a(href="{{student.social.linkedin}}") &nbsp; LinkedIn
      p
        i.fa.fa-github: a(href="{{student.social.github}}") &nbsp; Github
      p
        i.fa.fa-stack-overflow: a(href="{{student.social.stackoverflow}}") &nbsp; LinkedIn
