h3 LIST PROFILES
.row
  .col-xs-12.col-sm-2
    .form-group
      label(for='sortSkills') Sort by skills
      input.form-control(type='text' name='sortSkills')
  .col-xs-12.col-sm-2
    .form-group
      label(for='sortBySkills') &nbsp;
      button.form-control.btn.btn-info(name='sortBySkills', ng-click='sortBySkills(sortSkills)') Sort
  .col-xs-12.col-sm-2
    .form-group(ng-if='')
      label(for='sortName') Sort by name
      select.form-control(ng-model='sortName', name='sortName')
        option(value='firstName') firstName
        option(value='lastName') lastName
  .col-xs-12.col-sm-2
    .form-group(ng-if='')
      label(for='sortByName') &nbsp;
      button.form-control.btn.btn-info(name='sortByName', ng-click='sortByName(sortName)') Sort
.row
  .col-sm-12
    .table-responsive
      table.table.table-striped
        thead
          tr
            th Photo
            th First Name
            th(ng-if='') Last Name
            th Skills
            th Location
            th(ng-if='') Edit
            th(ng-if='') Delete
        tbody
          tr(ng-repeat='student in students')
            td: img.photo(ng-src='{{student.photo}}')
            td {{student.firstName}}
            td(ng-if='') {{student.lastName}}
            td {{student.skills}}
            td {{student.location}}
            td(ng-if=''): button.btn.btn-warning(ng-click='editStudent(student)')
            td(ng-if=''): button.btn.btn-warning(ng-click='deleteStudent(student)')
.row
  .col-xs-1
    button.btn.btn-info(ng-show='moveBack', ng-click='changePage(prev)', ng-model='prev') Prev
  .col-xs-10
  .col-xs-1
    button.btn.btn-info(ng-show='moveForward', ng-click='changePage(next)', ng-model='next') Next
