h3 LIST PROFILES
.row
  .col-sm-12
    .table-responsive
      table.table.table-striped
        thead
          tr
            th Photo
            th First Name
            th(colspan='5') Skills
            th(colspan='3') Exposure
            th(ng-if='') Edit
            th(ng-if='') Delete
        tbody
          tr(ng-repeat='student in students')
            td {{student.photo}}
            td {{student.firstName}}
            td {{student.skills.skill1}}
            td {{student.skills.skill2}}
            td {{student.skills.skill3}}
            td {{student.skills.skill4}}
            td {{student.skills.skill5}}
            td {{student.exposure.exposure1}}
            td {{student.exposure.exposure2}}
            td {{student.exposure.exposure3}}
            td(ng-if=''): button.btn.btn-warning
            td(ng-if=''): button.btn.btn-warning
.row
  .col-xs-1
    button.btn.btn-info(ng-show='', ng-click='changePage(prev)', ng-model='prev') Prev
  .col-xs-10
  .col-xs-1
    button.btn.btn-info(ng-show='', ng-click='changePage(next)', ng-model='next') Next
