h3 SHOW PROFILE
.row
  .col-xs-12
    h2 {{student.firstName}} {{student.lastName}}
  .col-xs-12
    img(src='{{student.img}}')
  .col-xs-12
    {{student.skills}}
  .col-xs-12
    {{student.exposure}}
  .col-xs-12
  .col-xs-12
  .col-xs-12
  .col-xs-12
  .col-xs-12
